<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scout.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Scout.My.MySettings>
            <setting name="Panel2" serializeAs="String">
                <value>Hidden</value>
            </setting>
            <setting name="homepage" serializeAs="String">
                <value>http://www.google.com/</value>
            </setting>
            <setting name="history" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.google.se</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OpenHomePage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchEngine" serializeAs="String">
                <value>google</value>
            </setting>
            <setting name="SearchInTextField" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLatestSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DontDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Javascript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSafe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Addblock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bookmarks</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowBookmarkBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWindowBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSessionList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AttachedBookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.google.com</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Scout.My.MySettings>
    </userSettings>
</configuration>